.c-footer {
 flex-grow: 0;
 margin-top: auto;
 color: #fff;
 padding: 50px 0;
 &__navigation {
	font-size: 14px;
	text-align: left;
	padding: 0;
	@include r(768) {
	 order: 3;
	 text-align: center;
	}
	li {
	 display: block;
	 border: none;
	 a {
		&::before {
		 transform: scale(1);
		}
		&:hover {
		 &::before {
			transform: scale(0);
		 }
		}
	 }
	}
 }
 &__col {
	@include r(768) {
	 order: 3;
	 text-align: center;
	 margin-bottom: 20px;
	}
 }
}

.l-footer{
 &-copyright {
	@include r(768) {
	 order: 3;
	}
 }
 &-menu {
	@include r(768) {
	 order: 1;
	}
 }
 &-developers {
	@include r(768) {
	 order: 2;
	}
 }
}

.c-developers {
 position: relative;
 padding-left: 35px;
 display: inline-block;
 &::before {
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 30px;
 }
 @include r(768) {
	text-align: left;
 }
}